# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.exe
*.ilk
*.pdb
*.obj
*.plg
*.ncb
*.pch
*.idb
*.aps
winprog/app_one/Debug/appRes.res
winprog/winprog.opt
winprog/winprog.positions
*.opt
*.positions
WindowsViaCppPratise/WriteFileByInheritHandle/Debug/test.txt
WindowsViaCppPratise/WriteFileByInheritHandle/ReadMe.txt
WindowsViaCppPratise/CreateInheritHandle/test.txt
WindowsViaCppPratise/CreateInheritHandle/ReadMe.txt
WindowsViaCppPratise/SetHandleInformation/Debug/test.txt
WindowsViaCppPratise/SetHandleInformation/ReadMe.txt
WindowsViaCppPratise/SetHandleInformation/test.txt
*.sdf
*.suo
*.filters